/*Reser basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Cabecalho*/
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*Area de produtos*/
.produtos {
    padding: 40px;
    text-align: center;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.produto img {
    width: 100%;
    border-radius: 5px;
}

.produto h3 {
    margin: 10px 0;
}

.produto button{
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*RODAPE*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}